<h1>Students</h1>

<ul>
  <% @students.each do |student| %>
    <% unless student.archived? %>
      <li>
        <%= link_to student.Name, student %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Students", new_student_path %>
